.page-navigation {
	background-color:#60328E;
	color:#FFF;
	height:50px;
}

.page-navigation ul {
	list-style: none;
}

.page-navigation ul li {
	padding: 10px 35px;
	float: left;
	line-height: 40px;
}

.page-navigation ul li a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 25px;
}
.page-navigation ul li a:hover {
	color:#800000;
	text-decoration: underline;
}

.name-header {
	color:#CC0000;
	font-size: 35px;


}

.VID {
	color:#CC0000;
	text-decoration: underline;
}

.link ul li a {
	color:#FF33CC;
}

.link ul li a:hover {
	color:#00CC00;
	text-decoration: none;
}

.home-features {
	padding: 50px;
	background-color: lightgrey;
	text-align: center;
	text-decoration: bold;

}