.website-header {
	font-size: 70px;
	color: #FFFFFF;
	background-color: #666699;
	font-style: italic;
	text-align: center;
    height: 120px;
    padding-top: 40px;
    font-weight: bold;
    width: 1000px;
}

.page-basics {
	width: 1000px;
	font-family: Arial; 

}

.website-footer {
	font-size: 10px;
	color: #FFFFFF;
	background-color: #8F5252;
	height: 100px;
	text-align: center;
	padding-top: 20px;
	
}

#wrapper {
	width: 1000px;
	height: 500px;
}

.left {
	height: 200px;
	width: 200px;
	float: left;
	padding: 0px;
}

.right {
	
	width: 775px;
	float: right;
}

.page-navigation ul li a {
	color: #8F5252;
	paddding: 0px;

}

.page-navigation ul li {
	list-style: none;
	border-bottom: 1px black dotted;
	padding: 0px;
}

.page-navigation ul {
	padding: 0px;
 
}

.sidebar-text {
	font-size: 15px;
	line-height: 15px;
	
}

.page {
	width: 1000px;
	margin: auto;
}

img {
	height: 100px;
	width: 100px;
}