.website-header {
	font-size: 70px;
	color: #FFFFFF;
	background-color: #666699;
	font-style: italic;
	text-align: center;
    height: 120px;
    padding-top: 40px;
}

.hf-basics {
	font-weight: bold;
	font-family: Arial;  
}

.website-footer {
	font-size: 10px;
	color: #FFFFFF;
	background-color: #8F5252;
	height: 40px;
	text-align: center;
	padding-top: 20px;
	font-family: Arial;
}

#wrapper {
	width: 1000px;
	height: 1000px;
}

.left {
	height: 200px;
	width: 200px;
	float: left;
}

.right {
	height: 400px;
	width: 800px;
	float: right;
}
