.container {
	background-color: #FFF;
	border: 2px solid;
	border-radius: 25px;
	padding: 0px 15px;
	overflow: hidden;
}

.main-header span{
	float: right;
	font-size: 15px;
	width: 90px;
}

.main-header {
	width: 40px;
	height: 100px;
	color: #FFF;
	font-size: 25px;
}

body {
	background-image: url('../Images/Traveler.jpg');
	background-size: cover;

}

.page-navigation ul li {
	list-style: none;
	float: left;
	padding: 0px 10px;
	
}

.content-header {
	float: left;

}

.main-content {
	float: right;
	font-family: Arial;
}