.container {
	background-color: #FFF;
	border: 2px solid;
	border-radius: 25px;
	padding: 0px 15px;
	overflow: hidden;
	width: 100%;

}

.main-header span{
	float: right;
	font-size: 15px;
	text-decoration: underline;

}

.main-header {
	width: 50px;
	height: 70px;
	color: #FFF;
	font-size: 30px;
}

body {
	background-image: url('../Images/Traveler.jpg');
	background-size: cover;


}

.page-navigation ul li {
	list-style: none;
	float: left;
	padding: 0px 15px;
	position: relative;

}

.page-navigation ul li a {
	background-color: #808080;
	color: #FFFFFF;
	text-decoration: none;
	padding: 15px;
	height: 20px;
}

.page-navigation ul li a:hover {
	background-color: #000000
	color: #FFFFFF;
}

.main-header img {
	height: 50px;
	width: 50px;
}

.content-header {
	position: absolute;
	float: left;
	width: 170px;
	height: 120px;
}

.content-header p {
	height: 100px;

}
.main-content {
	float: right;
	font-family: Arial;
    width: 200px;
    height: 1500px
    position: relative;
}

.container img {
	height: 75px;
	float: right;
}
